@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
body{
    font-family: "Josefin Sans", sans-serif;
    background: #7806d4;
    background: linear-gradient(90deg, #7806d4 0%, #c109db 50%, #7806d4 100%);
}
.uppercase {
    text-transform: uppercase;
}
h1,h2,h3,h4,h5{
    margin: 0;
    color: #f0ffff;
}
p,span,i{
    color: #f0ffff;
}
.return-link{
    text-decoration: none;
    color: #f0ffff;
    margin-left: 10px;
}
.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 15px 30px;
    transition: all 0.5s;
}
.btn--curve{
    border: 2.5px solid black;
    border-radius: 12px;
    font-size: 1rem;
    margin: 10px 20px;
    color: #f0ffff;
}

/* --MatheMania-- */
.game-title{
    margin-top: 1em;
    font-size: 3.5em;
}
.difficulty-area{
    margin-left: 20px;
}
.game-area{
    margin-top: 1em;
}
.controls-area{
    margin-left: auto;
}
.question-area{
    margin-top: 2.5em;
    text-align: center;
}
.question-area span,p{
    font-size: 24px;
}
.score-area{
    text-align: center;
    margin-top: 2.5em;
}

/* --MemoryMania-- */
.circle-area{
    position: relative;
    width: 375px;
    margin: 20px 5px;
    text-align: center;
}
.circle {
    border: 2.5px solid;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}
.circle-one{
    width: 375px;
    height: 375px;
    background-color: #00ffff;
}
.circle-two{
    width: 300px;
    height: 300px;
    left: 50px;
    top: 40px;
    background-color: #dc143c;
}
.circle-three{
    width: 225px;
    height: 225px;
    left: 85px;
    top: 75px;
    background-color: #ff00ff;
}
.circle-four{
    width: 150px;
    height: 150px;
    left: 120px;
    top: 110px;
    background-color: #6a5acd;
}
.circle-controls{
    position: absolute;
    top: 600px;
}
.btn-newgame{
    margin: 20px auto;
    font-size: 1.5rem;
}