@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
body{
    font-family: "Josefin Sans", sans-serif;
    background: #7806d4;
    background: linear-gradient(90deg, #7806d4 0%, #c109db 50%, #7806d4 100%);
}
.uppercase {
    text-transform: uppercase;
}
h1,h2,h3,h4{
    margin: 0;
    color: #f0ffff;
}
p{
    color: #f0ffff;
}
.block-divider-thin{
    width: 75px;
    height: 2.5px;
    border: 0;
    background-color: #fafafa;
}

.navbar, .navbar-nav{
    background-color: #7806d4;
    color: #f0ffff;
}
.navbar-title{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}
.navbar-link{
    text-decoration: none;
    color: #f0ffff;
}
.navbar-link:hover{
    color: #fafafa;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

.active{
    border-bottom: 1px solid #fff;
}


.index-body{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.jumbotron{
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;  
}
.hero-title{
    text-align: center;
    margin-bottom: 0.5rem;
}
.hero-img{
    height: 150px;
    width: 300px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 12px;
}
.hero-one{
    text-align: center;
    margin-bottom: 20px;
}
.hero-two{
    text-align: center;
}
.preview-title{
    margin-bottom: 0.5em;
}
.game-section{
    margin-bottom: 20px;
}
.game-title{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.game-text{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1.5em;
}


.socials{
    background-color: #7806d4;
    width: 100%;
}
.social-item{
    margin: auto;
}
.social-item i{
    color: #f0ffff;
}

.mathemania-form img{
    width: 350px;
    height: 200px;
    margin-left: 10px;
}
.diff-selector{
    margin-top: 10px;
    margin-left: 60px;
}
.diff-selector input{
    margin-right: 25px;
}
.memorymania-form img{
    width: 170px;
    height: 150px;
}
/* --Contact Page-- */


.review-name{
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}
.review-text{
    margin-bottom: 1em;
}

.feedback-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-field{
    margin: 15px auto;
}

/* --Media Queries-- */
@media screen and (max-width:576px) {
    .navbar-nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (min-width: 768px) {
    .mathemania-form img{
        width: 400px;
        height: 200px;
        margin-left: 30px;
    }
    .diff-selector{
        margin-top: 10px;
        margin-left: 100px;
    }
    .memorymania-form img{
        width: 220px;
        height: 150px;
    }
}
@media screen and (min-width: 1024px) {
    .hero-content{
        display: flex;
        text-align: center;
    }
    .hero-one{
        margin-left: 50px;
    }
    .hero-two{
        margin-top: 35px;
        margin-left: 100px;
    }
    .hero-img{
        height: 200px;
        width: 350px;
    }
}
@media screen and (min-width: 1440px) {
    .hero-content{
        display: flex;
        text-align: center;
    }
    .hero-one{
        margin-left: 60px;
    }
    .hero-two{
        margin-top: 50px;
        margin-left: 140px;
        margin-right: 40px;
    }
    .hero-img{
        height: 200px;
        width: 350px;
    }
}