@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
body{
    font-family: "Josefin Sans", sans-serif;
    background: #7806d4;
    background: linear-gradient(90deg, #7806d4 0%, #c109db 50%, #7806d4 100%);
}

.navbar, .navbar-nav{
    background-color: #7806d4;
    color: #f0ffff;
}
.navbar-link{
    text-decoration: none;
    color: #f0ffff;
}
.index-body{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.hero-img{
    height: 150px;
    width: 150px;
}
.socials{
    background-color: #7806d4;
    width: 100%;
}
.social-item{
    margin: auto;
}
.social-item i{
    color: #f0ffff;
}