@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
body{
    font-family: "Josefin Sans", sans-serif;
    background: #7806d4;
    background: linear-gradient(90deg, #7806d4 0%, #c109db 50%, #7806d4 100%);
}
.uppercase {
    text-transform: uppercase;
}
h1,h2,h3,h4{
    margin: 0;
    color: #f0ffff;
}
p{
    color: #f0ffff;
}
.block-divider-thin{
    width: 75px;
    height: 2.5px;
    border: 0;
    background-color: #fafafa;
}

.navbar, .navbar-nav{
    background-color: #7806d4;
    color: #f0ffff;
}
.navbar-title{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}
.navbar-link{
    text-decoration: none;
    color: #f0ffff;
}


.index-body{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.jumbotron{
    background-color: rgba(0, 0, 0, 0.35);  
}
.hero-title{
    margin-bottom: 1rem;
}
.hero-img{
    height: 150px;
    width: 150px;
    border: 1px solid white;
    border-radius: 12px;
}
.preview-title{
    margin-bottom: 0.5em;
}

.game-section{
    margin-bottom: 20px;

}
.game-title{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.game-text{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1.5em;
}


.socials{
    background-color: #7806d4;
    width: 100%;
}
.social-item{
    margin: auto;
}
.social-item i{
    color: #f0ffff;
}

/* --Contact Page-- */
.about-section{
    margin: 1em auto;
}


.review-name{
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}
.review-text{
    margin-bottom: 1em;
}

.form-field{
    margin: 15px auto;
}